*{
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: bold;
    color: red;
}
body{
    height: 100vh;
    display: grid;
    place-content: center;
    background: black;
}
div{
    width: 300px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 20px;
    box-shadow: 5px  5px 30px rgb(87, 13, 13);
    border-radius: 10px;
    background: #63020229;
}
